@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  background-color: #fff;
  margin: 0;
  min-height:100%;
  background: url('img/bg.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
@font-face {
    font-family: SF_New_Republic_Bold;
    src: url(fonts/SF_New_Republic_Bold.ttf);
}

::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: transparent;
}

::-webkit-scrollbar-thumb {
      background-color: #0099CC;
      height: 10px;
}

::-webkit-scrollbar-button {
      background-color: transparent;
}

::-webkit-scrollbar-corner {
      background-color: black;
}
.white-space {
  margin: 80px 0 80px 0;
  position: relative;
}
.horizontal-align {
  margin: 0 auto;
}
.vertical-align {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}

.featherlight .featherlight-close-icon {
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

h2 {

}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #2e2e2e;
}

.logo {
    background-image: url('img/logo.png');
    display: block;
    position: absolute;
    height: 167px;
    width: 326px;
}

.social {
  color: black;
}
.show {
  display: block;
}
.margin-right {
  margin-right: 30px;
  margin-top: 25px;
}

.height {

}

.draggable {
  cursor: move;
}

.balloon-show {
  display: none;
}

.balloon-show h2{
  color: #0099CC;
  font-size: 64px;
  padding-bottom: 25px;
  border-bottom:solid 2px #0099CC;
  font-family: SF_New_Republic_Bold;
}

.balloon-show h3{
  color: black;
  font-size: 64px;
  font-family: 'Open Sans', sans-serif;
}
.balloon-show p{
  text-align: center;
  font-size: 28px;
}

strong {
  font-weight: bold;
}


.balloon-link {
  text-decoration: none;
  font-family: SF_New_Republic_Bold;
  transition: ease-in 0.3s;
  color: black;
  display: inline-block;
}

.balloon-link:hover {
  text-decoration: none;
  color: #0099CC;
}

.link1 {
  padding: 17px 0 0 24px;
  font-size: 36px;
  line-height: 26px;
}

.link1:hover {
  font-size: 38px;
}

.link2 {
  margin: 80px 15px 10px 20px;
  font-size: 44px;
  text-align: right;
  line-height: 34px;
}

.link2:hover {
  font-size: 46px;
}

.balloon {
  color:#000;
  position: absolute;
  overflow-y: hidden;

}

#balloon1 {
  width: 200px;
  height: 200px;
  left: 300px;
  top: 200px;
  background-image: url('img/balloon.png');
}
#balloon2 {
  width: 200px;
  height: 220px;
  left: 600px;
  top: 250px;
  background-image: url('img/balloon2.png');
}

.balloon:before {
  content:"";
  position:relative;
  bottom:150px;
  right:0px;
  border:0;
  border-right-width:15px;
  border-bottom-width:25px;
  border-style:solid;
  border-color:transparent #000;
  width:0;
}
/*
.balloon .point-edge {
  background-image: url('img/punt.png');
  width:26px;
  height: 25px;
  position:absolute;
  top: 125px;
}*/

.balloon h1 {
  margin: -20px 0 0 5px;
  font-size: 34px;
  font-family: SF_New_Republic_Bold;
  transition: ease-in 0.3s;

}

.balloon h1:hover {
  color: #0099CC;
  font-size: 36px;
  cursor: pointer;
}

.main-text {
  display: none;
  overflow-y: scroll;
  position: absolute;
}
